h1 {
	font-size: 48px;
}
header {
	padding: 20px 0px 10px 0px;
	background-color: #ffcc00;
}
header h1 {
	margin-bottom: 0px;
	padding-left: 25px;
}
article p {
	margin: 10px;
	padding: 10px;
}
.container {
	width: 1180px;
	margin: auto;
}
style {
	border: 1px dotted red;
}
#sidebar {
	width: 32%;
	float: left;
	background: #3cf;
	color: #333;
	padding: 15px 15px 15px 15px;
	margin-top: 75px;
	min-height: 300px;
}
.post {
	border-right: 5px;
	style: solidified;
	color: #006633;
}
footer {
	clear: both;
	padding: 20px 0px 20px 0px;
	border-top: 5px;
	style: groove;
	color: #ffcc00;
}
.post-heading {
	color: #006633;
	font-size: 1.8em;
	margin-bottom: 0px;
}
#main-nav	{
	font-size: 1.3em;
	line-height: 1.4em;
}
#content-left {
	padding: 0px 25px 0px 25px;
	width: 60%;
	float: left;
	margin-bottom: 30px;
}
blockquote	{
	color: #222;
	font-size: 1.3em;
	font-style: italic;
	margin-top: 0px;
	margin-left: 200px;
}
#main-nav a, #main-nav a:visited {
	text-decoration: none;
}
#main-nav a:hover, #main-nav a:focus, #main-nav a:active {
	text-decoration: underline;
}
.hero-image	{
float:left;
}
article p {
	text-align: justify;
	text-indent: 25px;
}

.article-thumbs	{
		text-align: center;
		clear:both;
}
